/* Typefaces */
@font-face {
  font-family: 'JetBrainsMono-Light';
  src: local('JetBrainsMono-Light'), url('./fonts/JetBrainsMono-Light.woff') format('woff');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Agrandir Text';
  src: local('PP Agrandir Text'), url('./fonts/PPAgrandirText-Bold.woff') format('woff');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Body */
body {
  color: #231F20;
  font-family: 'JetBrainsMono-Light';
  margin: 0;
}

/* Site Header/Logo */
.siteLogoContainer {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1000;
 }

 .siteLogo {
  margin-top: 0.75rem;
 }

 .siteLogo:hover {
  cursor: pointer;
 }

/* Navbar */
.navbarContainer {
  align-items: center;
  background-color: #D9D7C5;
  bottom: 0;
  display: flex;
  height: 95px;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.navbarNav {
  margin-top: 0.75rem;
  overflow-y: hidden;
  width: 100%;
}

.navbarListItemsContainer {
  align-items: center;
  display: flex;
  font-family: 'PP Agrandir Text';
  font-size: 16px;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.navbarListItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.navbarListItemName {
  margin-top: 0.25rem;
  color: #7c797b;
}

.navbarListItemNameActive {
  margin-top: 0.25rem;
  color: #231F20;
}

/* Page Containers - need to tidy into correct sections */
.pageContainer,
.profile,
.listingDetails,
.explore {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .pageContainer,
  .profile,
  .listingDetails,
  .explore {
    margin: 3rem;
  }
}

.pageHeader {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

/* Profile container - tidy up! */
.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileDetailsHeader {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.profileDetailsText {
  font-weight: 600;
}

.profileCard {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}
.profileNameActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
  font-weight: 500;
}
.profileEmailActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileAddressActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.changePersonalDetails {
  cursor: pointer;
  font-weight: 600;
  color: #00cc66;
}

.mainDivPageContent {
  text-align: center;
  margin-top: 4rem;
  width: 100%;
}

.pageParagraph {
  display: inline-flex;
  font-size: 14px;
  margin-bottom: 3rem;
}

.logOut {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #00cc66;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

/* Input Divs */
.input,
.passwordInput,
.emailInput,
.usernameInput,
.textarea {
  background: #ffffff;
  border: 1.6px #231F20;
  border-style: hidden hidden solid hidden;
  font-family: 'JetBrainsMono-Light';
  font-size: 14px;
  height: 2rem;
  margin-left: 2rem;
  padding-right: 8rem;
}

.passwordInputDiv {
  position: relative;
}

.showPasswordIcon {
  cursor: pointer;
  padding: 1rem;
  margin-left: -2.5rem;
  margin-top: -0.2rem;
  position: absolute;
}

/* Log In/Sign Up/Forgot Password Links */
.forgotPasswordLink, 
.signUpLink, 
.logInLink {
  color: #231F20;
  cursor: pointer;
  font-size: 12px;
}

.forgotPasswordTextDiv, 
.signUpTextDiv {
  margin-bottom: 1.5rem;
}

/* Buttons */
.logInBar,
.signUpBar,
.homepageBar {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0; 
  margin-bottom: 8rem;
  position: absolute;
  right: 0;
}

.logInButton,
.signUpButton,
.homepageButton
.logInText,
.signUpText {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .logInBar,
  .signUpBar,
  .homepageBar {
    justify-content: center;
  }
}

.logInText,
.signUpText {
  font-size: 1.5rem;
  font-weight: 700;
}

.logInButton,
.signUpButton,
.homepageButton {
  align-items: center;
  background-color: #73241D;
  border: none;
  border-radius: 20px;
  color: #F0F0F2;
  display: flex;
  font-size: 20px;
  font-family: 'JetBrainsMono-Light';
  justify-content: center;
  padding: 0.5rem;
  width: 10rem;
}

@media (min-width: 1024px) {
  .logInButton,
  .signUpButton,
  .homepageButton {
    margin-left: 3rem;
  }
}

.homepageLink {
  color: #F0F0F2;
  cursor: pointer;
  text-decoration: none;
}

/* Loading Spinner */
.loadingSpinnerContainer {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5000;
}

.loadingSpinner {
  animation: spin 1.4s linear infinite;
  border: 8px solid;
  border-color: #73241D transparent #73241D transparent;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}